In [1]:
for every_number in range(10, 20):
    print(every_number)

10
11
12
13
14
15
16
17
18
19

In [ ]:
for (int i = 10;i<20;i++)
{
    printf('%d',&i);
}

In [6]:
# taking input from user
x = input('enter a number : ') # can input other than number
# note input is a built in funtion used to take input from keyoard

enter a number : 10

In [7]:
x

'10'

In [ ]:
#variable name should not be a keyword
#no spaces ex : (num one) can be written as num_1 or num_one or numOne
#no numbers at begining

In [8]:
# print statements
print('Hello world')

Hello world

In [9]:
str = 'hello world' # assignment of object
print(str)

hello world

In [10]:
num = 10
print(num)

10

In [11]:
print('the number entered is : ' + x)

the number entered is : 10

In [12]:
print('the number entered is : ' + num)

TypeError: can only concatenate str (not "int") to str

In [29]:
print(f'the number is {num}')

the number 	 is 10

In [14]:
print(
'''hello i am abc.
i like python.
it is easy in many ways like
    1. syntax
    2. many packages''')

hello i am abc.
i like python.
it is easy in many ways like
    1. syntax
    2. many packages

'skc'

In [15]:
# type conversion

number = '10.4'
type1 = type(number)
print(type1, number)

<class 'str'> 10.4

In [16]:
number = float(number)
type2 = type(number)
print(type2, number)

<class 'float'> 10.4

In [17]:
number = int(number) # decimal
type3 = type(number)
print(type3, number) 
# note that as all things in python is object so we can change the type of it, this is not supported by many languages

<class 'int'> 10

In [20]:
#type conversion and input
a = input('enter a number : ')
print(a, type(a))

enter a number : ksfjsk
ksfjsk <class 'str'>

In [24]:
a = int(input('enter a number : '))
print(a, type(a))

enter a number : sjdsc

ValueError: invalid literal for int() with base 10: 'sjdsc '

In [ ]:
# comments

# line comment
# can be written after a line of code

In [25]:
# block comment
'''hello is a tutorial on pythons.
this is block comment.
this is not see at run time'''

'hello is a tutorial on pythons.\nthis is block comment.\nthis is not see at run time'

In [ ]:
'''assignment:
    Collect data from a person :
    name 
    DOB dd-mm-yyyy
    college 
    class 
    etc 
    
Note : the variables should be according to data types you thing is suitable
    
try to calculate age from DOB'''