# DATATYPES

lists, dictonary, set, tuples, int, float, string, bool, range

## What you need to take away from this lecture

1. declaration
2. how to access different parts of some datatypes
3. use of functions
4. differences between different datatypes
5. what problems can you face with some datatypes and how to overcome it

In [1]:
# basic datatypes

string = 'python'
integer = 1
floating_number = 0.2
boolean = True # or False # space occupied
nul = None

print(string,integer,floating_number,boolean,nul)

python 1 0.2 True None

## strings

In [2]:
# strings

string = 'anything inside quotes'
print(string)

anything inside quotes

In [50]:
# problems when handling strings

s = 'it is python's library' 
s = "it is said that "he is a good man" by someone"  # how to overcome

SyntaxError: invalid syntax (<ipython-input-50-afa1564658b4>, line 3)

In [3]:
# access part of sting
s = 'python is easy'

print(s[0],s[2])
print(s[-1])
print(s[3:8])

p t
y
hon i

In [4]:
# copy string

s1 = 'python'
s2 = s1
print(s1,s2)

python python

In [ ]:
# string methods

# why? it is fast

In [7]:
# string concate and multipy
s1 = 'python'
s2 = 'is easy'

s = s1 + ' ' + s2
print(s)
print(s * 10)

python is easy
python is easypython is easypython is easypython is easypython is easypython is easypython is easypython is easypython is easypython is easy

In [8]:
# split

s = 'this is my python jupyter notebook which is used to write python code.'
list1 = s.split()
list2 = s.split('i') # good to use when we have a paragraph and want to divide into sentences
print(list1)
print(list2)

['this', 'is', 'my', 'python', 'jupyter', 'notebook', 'which', 'is', 'used', 'to', 'write', 'python', 'code.']
['th', 's ', 's my python jupyter notebook wh', 'ch ', 's used to wr', 'te python code.']

In [9]:
# length of string

s = 'python'
length = len(s)
print(length)

6

In [10]:
# upper case and lower case

s = 'python'
s_upper = s.upper()
print(s_upper)

s_lower = s_upper.lower()
print(s_lower)

PYTHON
python

In [11]:
# find a character or string

s = "python is easy."
y = s.find('y') # gives output where it finds first
python = s.find('python')
not_found = s.find('r') # output = -1

print(y, python, not_found)

1 0 -1

In [12]:
# replace string or character

s = "python is easy."
s1 = s.replace('y', 'r') # replaces everywhere
s2 = s.replace('easy', 'slow')

print(s,s1,s2)

python is easy. prthon is easr. python is slow.

In [13]:
# in keyword

s = "python is easy."
print('python' in s) # check character or string

True

## operations

In [60]:
# arithematic operations

num1 = 10
num2 = 9

print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)
print(num1//num2) # quotient
print(num1%num2)
print(num1**num2) # power

19
1
90
1.1111111111111112
1
1
1000000000

In [14]:
# augmented operators

num = 10
print(num)

num += 2 # num = num + 2
print(num)

num -= 4
print(num)

10
12
8

In [15]:
# precedence

num1 = 10
num2 = 9
num3 = 8

number1 = num1 + num2 / num3
number2 = (num1 + num2) / num3
print(number1,number2)

# (), **, *, /, +, -

11.125 2.375

In [16]:
# examples

x = 2*2+4**10+10
y = 2 +10 +True +10 +False # true = 1, false = 0

print(x,y)

1048590 23

## math library

In [17]:
# math functions
import math

In [18]:
num = 2.9

print(round(num))
print(abs(-num))
print(math.ceil(num))
print(math.floor(num))
print(math.sqrt(num))
print(math.pow(num,3))
print(math.sin(num))
print(math.cos(num))
print(math.tan(num))
print(max([1,2,3,4,5,6]))
print(min([1,2,3,4,5,6]))
print(sum([1,2,3,4,5,6]))

3
2.9
3
2
1.70293863659264
24.389
0.23924932921398243
-0.9709581651495905
-0.24640539397196634
6
1
21

# Assignments

1.input(string) radius and calculate area of circle,volume of sphere

2.input(2 numbers seperated by space radius and height) to calculate volume of cylinder. and then volume of cone,
slant height of cone

3.given a vector pointing to (5,5) and angle with horizontal axis calculate length, horizontal component and vertical 
component.note: all inputs in same string seperated by comma
check if the points are (0,0), if so print error

## lists

In [19]:
# lists

# assignment
# different datatypes, length can be different

l1 = [1,2,3,4,5,6]
l2 = ['this', 'is', 'pyhon', 3.4]
l3 = [
    [1,2],
    [3,4]
]
l4 = [
    [[1,2],
    [3,4]]
]
print(l1,l2,l3,l4)

[1, 2, 3, 4, 5, 6] ['this', 'is', 'pyhon', 3.4] [[1, 2], [3, 4]] [[[1, 2], [3, 4]]]

In [21]:
# access

l1 = [1,2,3,4,5,6,7,8,9,10]

print(l1[4])
print(l1[-1])
print(l1[:])
print(l1[3:7])
print(l1[4:-1])
print(l1[-8:-3])

5
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7]
[5, 6, 7, 8, 9]
[3, 4, 5, 6, 7]

In [20]:
# change values

l = [
    [1,2,3,4],
    [1,3,456,74]
]

l[0][2] = 10
l[1] = [6,7,8,9]

print(l)

[[1, 2, 10, 4], [6, 7, 8, 9]]

In [22]:
l2 = [
    [1,2,3,4,5],
    [11,22,33,44,55],
    [6,7,8,9,10]
]

print(l2[1][4])
print(l2[2])
print(l2[2][:])
print(l2)
print(l2[:][2])
print(l2[2][1:3])
print(l2[0:2][1:3])

55
[6, 7, 8, 9, 10]
[6, 7, 8, 9, 10]
[[1, 2, 3, 4, 5], [11, 22, 33, 44, 55], [6, 7, 8, 9, 10]]
[6, 7, 8, 9, 10]
[7, 8]
[[11, 22, 33, 44, 55]]

In [23]:
# list functions

l = [1,2,3,4,5,6]

length = len(l)
l1 = l.append(10)
l2 = l.insert(2,'hello')
l3 = l.remove(4)
l5 = l.pop()
l6 = l.index(6)
val1 = 1 in l
val2 = -1 in l
l4 = l.clear() # remove all elements


# count sort reverse copy


print(l1)
print(l2)
print(l3)
print(l4)
print(l5)
print(l6)
print(val1,val2)

None
None
None
None
10
5
True False

## tuples

In [24]:
# tuples

t = (1,2,3,4,5,6)

print(t)
print(t[3])

(1, 2, 3, 4, 5, 6)
4

In [25]:
# access

t = (
    (1,2,3,4),
    (6,7,8,9)
)

print(t[:])
print(t[1][3]) # similar to array

((1, 2, 3, 4), (6, 7, 8, 9))
9

In [26]:
# update

t = (1,2,3,4)

t[2] = 10

TypeError: 'tuple' object does not support item assignment

In [27]:
# tuple functions

t = (1,2,3,4)

length = len(t)
t1 = t.count(0) # occurence
index = t.index(3)

print(length,t1,index)

4 0 2

In [28]:
# tuples unpacking

t = (1,2,3,4)

w,x,y,z = t

print(x,y,z,w)

2 3 4 1

## dictionary

In [29]:
# dictionary

# A dictionary is a collection which is unordered, changeable and indexed. 
# In Python dictionaries are written with curly brackets, and they have keys and values.

d = {
    'key1' : 'value1',
    'k2' : 10,
    10 : '4.9'
}

print(d)

{'key1': 'value1', 'k2': 10, 10: '4.9'}

In [30]:
# accessing values

print(d['k2'])

10

In [1]:
# changing values

d = {
    'key1': 'value1','key2' : 'value1'
}

d['key2'] = 'value2'

print(d)


# adding key value to a dictionary

d['key3'] = 'value3'

print(d)

{'key1': 'value1', 'key2': 'value2'}
{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [31]:
# Note : values can repeat, but keys can't

d = {
    'key1': 'value1','key2' : 'value1'
}

print(d['key1'])
print(d['key2'])

value1
value1

In [32]:
# dictionay - built in functions

d = {
    'key1': 'value1','key2' : 'value2'
}


print(d.keys())
print(d.values())
print(d.get('key2','value2')) # check
print(d.get('key3')) # if key not found

d['key1'] = 'value3' # update
print(d)

d['key3'] = 'value4' # add
print(d)

dict_keys(['key1', 'key2'])
dict_values(['value1', 'value2'])
value2
None
{'key1': 'value3', 'key2': 'value2'}
{'key1': 'value3', 'key2': 'value2', 'key3': 'value4'}

## other unique datatype

In [34]:
# range function

r1 = range(10)  
r2 = range(5,10)
r3 = range(5,20,2)
r4 = range(20,10,-1)

print(r1)
print(r2)
print(r3)
print(r4)

range(0, 10)
range(5, 10)
range(5, 20, 2)
range(20, 10, -1)

In [35]:
# sets

s = set([10,12,12,13,10])
print(s)

{10, 12, 13}

# assiginment

1. given a dataset of students(name : class) output 2 lists 
 
    1] names
    
    2] class
    
    which has no repeated class in it

2. create a list which contains values of sine((6n)(PI)) where n = [1,2,3,4,5,6,.....12],

    remove the numbers at even places (be carefull)(try not to use if statements),

    insert the numbers which are divisible by 3 to respective places,

    pop the last element and push None

3. multipy different elements of list(length = 4) and [1,2,3,4] store in a tuple and assign a,b,c,d to these values

4. ask user to enter numbers as string, store in list, remove all the numbers which are repeated, print output

    (don't use if statements)

5. (optional) for every number in a 2d list multiple all elements in column. if even store in a list



note : try not to use loops and conditional statements expect for 5th question
   ###### use datatype wisely